 
  .middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: flex; 
    padding: 5px;
      
  }
  .middle1 img
  {
width: 40%;
height: 40%;

  }
  
  #card1:hover .image {
    opacity: 0.3;
  }
  
  #card1:hover .middle1 {
    opacity: 1;
  }
  
  .text {
    width: 10%;
    font-size: 40%;
  }

  #row1
  {
      padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
  }

#cards {
    width: 100%;
    height: 100%;
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
}
